:root {
    /* Colors */
    --color-first: #FF5747;
    --color-second: #FAF6F6;
    --color-third: #786A6A;
    --color-fourth: #FFF;
    --color-fifth: #2B2D42;
    --color-text-white: #FFF;
    --color-text-yellow: #FFC300;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
}
/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}
body {
    font-size: 1.1em;
    font-family: 'Montserrat';
    line-height: 1.5em;
    margin: 0;
    background-color: var(--color-second);
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--color-first);
}
h1 {
    font-size: 2em;
}

/* LAYOUT */
body {
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--color-first);
    z-index: 2;
}

aside {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

footer {
    background: var(--color-third);
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}
.footer__wrapper {
    padding: 1em;
    font-size: .8em;
}
.footer__social {
    background: var(--color-fifth);
    font-size: .6em;
    color: var(--color-text-white);
    padding: 0 1em;
}
.footer__social p {
    margin: 0;
}
.home{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 350px;
  align-content: center;
  justify-content: center;
}

.home__hero {
  grid-area: 1/1/2/2;
}
.home__hero__img {
  display: grid;
  min-width: 350px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__hero-overlay {
  grid-area: 1/1/2/2;
  display: grid;
  max-width: 100%;
  background-color: #000;
  background: linear-gradient(
    68deg,
    rgba(0, 0, 0, 0.7) 30%,
    rgba(255, 255, 255, 0) 100%
  )
}
.home__data {
  grid-area: 1/1/2/2;
  display: grid;
  align-items: center;
  margin: 0 2em;
  letter-spacing: 0.05em;
  color: var(--color-text-white);
}

.group {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--color-first);
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 80%;
}
.group__title {
  text-transform: uppercase;
  letter-spacing: .25em;
  color: var(--color-fourth);
}
.group__group-title {
  color: var(--color-second);
}
.group__subtitle {
  color: var(--color-fourth);
}
.group__about {
  text-align: left;
  background-color: var(--color-fourth);
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1), 2px 2px 6px rgba(0,0,0,0.1);
  width: 92%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 0.125rem;
}
.group__about-title {
  text-transform: uppercase;
}
.group__header {
  display: flex;
}

.d-flex {
  display: flex;
  flex: 1;
  flex-direction: column;
}
/* COMPONENTS */
.btn {
    padding: .5em 1.5em;
    background: var(--color-fifth);
    color: var(--color-text-white);
    border-radius: 3em;
    font-size: .8em;
}
.form-group .btn {
  width: fit-content;
}
.btn-secondary {
  background-color: var(--color-second);
  color: var(--color-first);
  border: 1px solid var(--color-first);
}
.btn:hover {
  background-color: var(--color-third);
  color: var(--color-text-white);
}
button.btn {
  margin: 1em 0;
}
.btn-login {
  margin: 0 1em;
  word-wrap: wrap;
  font-size: 1em;
}
.btn-icon {
  border-radius: 50%;
  background-color: var(--color-fourth);
  color: var(--color-first);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  height: 2.5em;
  width: 2.5em;
  text-align: center;
  transition: all .2s ease-in;
  padding: 0;
}
a.btn-icon {
  padding: .7em;
}
.btn-icon:disabled {
  background: var(--color-third);
  color: var(--color-fifth);
}
.btn-icon:not(:disabled):hover {
  background-color: var(--color-first);
  color: var(--color-fourth);
}
.card-deck {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card-deck--admin {
  display: flex;
  flex-direction: column;
}
.card {
  grid-column: span 3;
  flex: 1 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: .25em;
  background-clip: border-box;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1), 2px 2px 6px rgba(0,0,0,0.1);
  margin: 15px 0;
  background-color: var(--color-fourth);
}
.card__body {
    padding: 1em;
}
.card__header {
    border-bottom: 1px solid var(--color-second);
    margin: 0;
    padding: .75em 1.25em;
    display: block;
    text-transform: uppercase;
}

input {
    border: none;
    padding: .5em 1em;
    background-color: var(--color-second);
    color: var(--color-fifth);
    font-weight: bold;
    border-radius: .2em;
    border: 1px solid var(--color-third);
    font-family: 'Montserrat';
}
fieldset.list-group {
  border: none;
  margin: 0;
  padding: 1em 0;
}
.career-field {
  display: flex;
}
.career-field button{
  margin: 0 .5em;
}
.career-field input {
  flex: 1;
}
button > * {
  pointer-events: none;
}
button {
    font-family: 'Montserrat';
    border: none;
}
button:hover {
    cursor: pointer;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  margin-bottom: 1rem;
}
.alert button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  font-size: 1.5em;
  line-height: 1;
  font-weight: 700;
  padding: .75rem 1.25rem;
  color: inherit;
  opacity: 0.5;
  text-shadow: 0 1px 0 var(--color-text-white);
}
.alert button:hover {
  opacity: 1;
}
.alert.alert-error {
  color:#721c24;
  /* background-color: #f8d7da; */
  background-color:  #f4b4bf;
  border-color: #f5c6cb;
}
.alert.alert-success {
  color:#285b2a;
  background-color:#dbefdc;
  border-color: #cde9ce;
}
.alert.alert-warning {
  color: #852d12;
  background-color: #ffddd3;
  border-color: #ffd0c1;
}

.list-group {
  display: flex;
  flex-direction: column;
}
.list-group.list-group--areas {
  max-height: 10em;
  overflow-y: scroll;
}
.list-group-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid rgba(0, 0, 0, .125);
}
.list-group-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.list-group-item.item--students {
  justify-content: flex-start;
}
.list-group-item.item--students .btn {
  margin-right: 1em;
}
.list-group--careers button{
  background-color: var(--color-fourth);
}
.list-group-item.btn-careers--active {
  background-color: var(--color-fifth);
  color: var(--color-text-white);
}
.list-group-item.btn-careers--active:hover {
  background-color: var(--color-third);
  color: var(--color-text-white);
}
.list-group--careers button:hover {
  background-color: var(--color-second);
}
button.list-group-item {
  font-weight: bold;
}
a.name {
  font-weight: bold;
}
/* PAGES */

/* Navbar */
.nav {
    height: 3em;
    
}
.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        width: 100%;
        padding: 1.5em;
        background: var(--color-first);
        transition: .4s;
        z-index: -1;
    }
}
.nav__menu--show {
    top: 3em;
}
.nav__toggle {
    padding: 0 2em 0 1em;
    font-size: 1.3em;
    width: .5em;
    color: var(--color-text-white);
}
.nav__item {
    
    height: 2em;
}
.nav__item--active a {
    color: var(--color-fifth);
    background: var(--color-fourth);
    border-radius: .25em;
}
.nav__item--active a:hover {
    color: var(--color-text-white);
    background: var(--color-fifth);
}
.nav__link {
    font-weight: bold;
    padding: 0 1em;
    display: flex;
    color: var(--color-text-white);
}
.nav__link--user {
  min-width: 120px;
}
.nav__link i {
  height: 100%;
  display: block;
}
.profile__menu {
  display: none;
  position: absolute;
  background: var(--color-first);
}
.profile__menu a {
  margin: 1em 0;
  padding: .4em 1em;
}
.profile__menu--show {
  display: block;
}
.container {
    padding: 1em;
    margin-bottom: 3em;
}


/* Sidebar */
.sidebar {
    background-color: rgba(255, 255, 255, 0.97);
    color: var(--color-third);
    height: 3em;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
}
.sidebar__wrapper {
    height: 100%;
}
.sidebar__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.sidebar__link {
    color: var(--color-fifth);
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;
    padding: 0 0.5em;
    
}
.sidebar__link span {
  font-size: .8em;
  height: 40%;
}
.sidebar__link:hover {
    color: var(--color-first);
}
.sidebar__link--active:hover {
  color: var(--color-text-white);
  background-color: var(--color-fifth);
}
.sidebar__link--active {
  color: var(--color-second);
  background-color: var(--color-first);
}
/* Form */

form {
    padding: 0 1em 1em 1em;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.form__birthday {
  display: grid;
  justify-items: space-evenly;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: .5em;
}
.form__subject {
  display: grid;
  width: 100%;
  justify-items: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0;
}
.form__subject .subject {
  grid-column: 1/5;
  grid-row: 2/3;
}
.form__subject .career {
  grid-column: 1/3;
  grid-row: 1/2;
}
.form__subject .year {
  grid-column: 3/5;
  grid-row: 1/2;
}
textarea {
  resize: vertical;
  font-family: 'Times New Roman', Times, serif;
  padding: .5em 1em;
}
textarea.work__description {
  font-size: .9em;
}
.edit__group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.edit__group-invite {
  grid-row: 1;
  grid-column: 1/7;
}
.edit__group-members {
  grid-row: 2;
  grid-column: 1/7;
}

.career--hidden {
  display: none;
}
/* MEDIA QUERIES RESPONSIVE */

@media screen and (min-width: 768px) {
    /* Navbar */
    .nav__container {
        justify-content: space-between;
        padding: 1em;
    }
    .nav__toggle {
        display: none;
    }
    .nav__menu {
      height: 100%;
    }
    .nav__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100%;
    }
    .nav__item {
        margin: 0;
        height: auto;
    }
    .nav__item:not(.nav__item--active) a:hover, span.nav__link:hover{
      border-bottom: 2px solid var(--color-text-white);
      cursor: pointer;
    }
    .nav__link {
        margin: 0;
        height: 1.5em;
    }
    i.nav__icon {
      display: none;
    }
    /* Sidebar */
    aside {
        position: sticky;
        top: 3em;
    }
    .sidebar__menu {
        height: 100%;
    }

    footer {
        margin-bottom: 0;
    }

    .form__wrapper {
      width: 50%;
    }

    .edit__group-invite {
      grid-row: 1;
      grid-column: 1/4;
    }
    .edit__group-members {
      grid-row: 1;
      grid-column: 4/7;
    }
    /* Card */
    .card {
      grid-column: span 1;
      margin: 15px;
    }
    .card.card--form{
      width: 80%;
      max-width: 600px;
      margin: 0 auto;
    }
    .card-deck--admin {
      flex-direction: row;
    }
    .d-flex {
      flex-direction: row;
    }
    .list-group.list-group--areas {
      flex-basis: 50%;
    }
    .form--areas {
      flex-basis: 50%;
    }
}

.profile_pic {
  border-radius: 50%;
  width: 100px;
}

.profile_pic--list {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
/* Editar */
label.profile_pic {
  display: block;
}
.profile_pic--edit {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}

.profile_pic--edit:hover {
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

form input[type="file"].profile_pic_input {
  display: none;
  cursor: pointer;
}